.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    background-color: transparent;
    .content {
        padding: 1rem;
        width: 30%;
        height: auto;
        border: 1px solid white;
        backdrop-filter: blur(5px);
        border-radius: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        .inputs {
            width: 80%;
            height: 70%;
        }
        button {
            padding: .5rem 1rem;
            border: none;
            background-color: transparent;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid white;
            outline: none;
        }
        button:focus {
            border-color: #32a85e;
        }
    }
}